.header-wrapper {
    background-color: #fff;
    padding: 35px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    h1 {
        color: #151D48;
    }

    select {
        border: none;
        outline: none;
    }

    .search-input-wrapper {

        .search-icon {
            top: 13px;
            left: 5px;
            color: #5D5FEF;
        }

        .search-input {
            width: 100%;
            padding: 8px 32px 8px 27px;
            border-radius: 16px;
            background-color: #F9FAFB;
            border: none;
            outline: none;
        }

        // .search-input::placeholder {
        //     // padding-left: 5px;   
        // }
    }

    .bell-wrapper {
        background-color: #FFFAF1;
        padding: 12px;
        border-radius: 8px;
        cursor: pointer;

        .bell {
            color: #FFA412;
        }

        .red-dot {
            width: 6px;
            height: 6px;
            background-color: red;
            border-radius: 50%;
            top: 8px;
            right: 8px;
        }
    }

    .role {
        color: #737791;
    }

    .profile-pic {
        width: 50px;
        height: 50px;
    }

}